
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomView</title>
</head>
<body>
    <div> 
        <p>
            CUSTOM VIEW NAME
        </p>
    </div>
</body>
</html>
