
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/Yacht/Index">Yachts</a>
        <a>Contact</a>
    </header>
    <div>
        <h2>HOMEPAGE</h2>
    </div>
</body>
</html>

